{% extends "base.html" %}

{% block title %}All Boxes - Box Storage{% endblock %}

{% block content %}
{% if boxes %}
<ul class="box-list">
    {% for box in boxes %}
    <li>
        <a href="/box/{{ box.id }}">
            <div class="box-title">{{ box.title }}</div>
            <div class="box-id">{{ box.id }}</div>
            <div class="box-date">Updated {{ box.modified.strftime('%d %b %Y, %H:%M') }}</div>
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<div class="empty">
    <p>No boxes yet.</p>
    <a href="/new" class="btn">Create your first box</a>
</div>
{% endif %}
{% endblock %}
